* {
    outline: none;
    margin: 0;
    padding: 0;
}
$chakra-font: 'Chakra Petch';
$green-color: #3cd2a5;
$gray-color: #ffffff80;
$off-gray: #ffffffbf;
$black-color:#262626;
$white-color:#ffffff;

ul, li{
    list-style: none;
    font-family: $chakra-font;
    a{
        text-decoration: none;
    }
}
.ck{
    font-family: $chakra-font;
}
.text-off{
    color: $off-gray;
}
.bg-head{
    color:$black-color;
}
.text-green{
    color: $green-color;
}
.text-white{
    color: $white-color;
}
.text-gray{
    color: $gray-color;
}
.bg-lable{
    background-color: #5a5a5a75;
}
.text-b{
    color:#5f5f5f;
}
.bg-green{
    background-color: $green-color;
}
.text-lable{
    color: #5a5a5a75;
}
body {
    background-image: url('../img/cover-dark.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    font-family: $chakra-font;
    background-attachment: fixed;
}

body::after {
    position: absolute;
    content: '';
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(50, 70, 80, 0.9) 0%, rgb(13, 16, 27) 100%);
    top: 0;
    z-index: 777;    ;
}

body::before {
    position: absolute;
    content: '';
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    z-index: 888;
     background-image: url('../img/pattern-dark.png');
    background-repeat: repeat;
    background-size: 4.6875rem;
    top: 0;
}
// nav start 
.navbar {
    background-color: rgba(29, 40, 53, 0.9);
    top: 0;
    z-index: 9999;
    position: sticky;
    background-attachment: fixed;
    width: 100%;
    .logo{
        background-image: url('../img/logo-dark.png');
        background-size: cover;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        span{
            display: block;
            letter-spacing: initial;
            font-weight: 600;
            font-size: 1.05rem;
        }
    }
    img{
        border-radius: 50%;
    }
    .icon{
        .bell{
            position: relative;
        }
        .bell::after{
            position: absolute;
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $green-color;
            left: 20px;
        }
    }
    
}
// nav end 

// header start
.main{
    position: relative;
    z-index: 999;
    height: 100vh;
    overflow-y: auto;
  
    .menu{
        height: 100vh;
        position: sticky;
        top: 0;
        background-attachment: fixed;
         p{
            font-size: 12px;
            font-weight: 600;
        }
        ul{
            
            li{
              font-family: $chakra-font;
              padding: 5px 0;
              a{
                transition: all 0.7s
              }
            }
            li a:hover{
                color: $white-color;
            }
        }
        .accordion-button{
            background-color: transparent!important;
            box-shadow: none;
            color: $gray-color;
            transition: all 0.7s;
        }
        .accordion-button:hover{
            color: $white-color;
        }
        .accordion-item{
            background-color: transparent!important ;
            border: none;
        }
        .accordion-button:not(.collapsed)::after{
            color: $gray-color;
        }
        .accordion-collapse{
            ul{
                li{
                    a{
                        transition: all 0.7s;
                    }
                  
                }
                li a:hover{
                    color: $white-color!important;
                }
            }
        }
        .accordion-button:not(.collapsed)::after{
            background-image: url('../img/down\ \(4\).png');
        }
        .accordion-button::after{
            background-image: url('../img/down\ \(4\).png');
            transition: all 0.7s;
        }
        .accordion-button:hover::after{
            background-image: url('../img/down.png');
        }
    }
    .btn{
        width: 260px;
        height: 35px;
        border: 1px solid $green-color;
        color: $green-color;
        transition: all 0.7s;
        text-align: center;
        line-height: 20px;
        margin-top: 150px;
        font-family: $chakra-font;
        a{
            color: $green-color;
            text-decoration: none;
          
        }
    }
    .btn:hover{
        background-color: $green-color;
        a{
            color: $white-color;
            i{
                color: $white-color;
            }
        }
    }
} 
// header end

// dashbord strat 
.dashbord{
     padding: 30px;
   .frame{
    position: relative;
    .card{
       background-color: transparent;
       border: none;
       position: relative;
       .card-body{
        position: relative;
        h5{
              font-size: 14px;
        }
        h6{
            font-size: 24px;
        }
        ul{
            li{
                font-size: 14px;
            }
        }
       }
       .card-body::after{
        position: absolute;
        content: '';
        box-sizing: border-box;
       border-left: 1px solid $white-color;
       border-bottom: 1px solid $white-color;
       border-color: $white-color;
       height:12px;
       width: 12px; 
       left: 0;
       bottom: 0;
      }
    .card-body::before{
        position: absolute;
        content: '';
        box-sizing: border-box;
       border-right: 1px solid $white-color;
       border-top: 1px solid $white-color;
       border-color: $white-color;
       height:12px;
       width: 12px;
       right: 0;
       top: 0;
    }
    }
    .card::after{
        position: absolute;
        content: '';
        box-sizing: border-box;
       border-left: 1px solid $white-color;
       border-top: 1px solid $white-color;
       border-color: $white-color;
       height:12px;
       width: 12px; 
      }
    .card::before{
        position: absolute;
        content: '';
        box-sizing: border-box;
       border-right: 1px solid $white-color;
       border-bottom: 1px solid $white-color;
       border-color: $white-color;
       height:12px;
       width: 12px;
       right: 0;
       bottom: 0;
    }
    
  }
  .frame::after{
    position: absolute;
    content: '';
    box-sizing: border-box;
    border-top: 1px solid $gray-color;
    border-bottom: 1px solid $gray-color;
   width: 90%;
   height: 100%;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
  }
  .frame::before{
    position: absolute;
    content: '';
    box-sizing: border-box;
    border-left: 1px solid $gray-color;
    border-right: 1px solid $gray-color;
   width: 100%;
   height: 80%;
   top: 50%;
   left: 0;
   transform: translatey(-50%);
  }

  .frame2::before{
   height: 92%;
  }
  .frame2::after{
    width: 93%;
   }
  
}

.map{
    .map-content{
        span{
            font-size: 11px;
            font-weight: 500;
        }
        h2{
            font-weight: 400;
        }
        .progress{
            height: 3px;
            background-color: #ffffff26;
            .progress-bar{
                background-color: #3cd2a5;
            }
        }
        i{
            font-size: 7px;
        }
        .s-disc{
            font-size: 13px;
        }
        .i{
            color: #3cd2a575;
        }
        h3{
            font-size: 14px;
        }
        p{
            font-size: 13px;
            font-weight: 500;
        }
        .i1{
            color: #3cd2a5f2;
        }
        .i2{
            color: #3cd2a5bf;
        }
        .i3{
            color: #3cd2a58c;
        }
        .i4{
            color: #3cd2a559;
        }
        .i5{
            color: #3cd2a526;
        }
    }
}


.top{
    .img{
        position: relative;
        h3{
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            background-color: #3cd2a5;
            color: $black-color;
            font-size: 12px;
            position: absolute;
            
        }
        h4{
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            background-color:#2626268a;
            color: $white-color;
            font-size: 12px;
            position: absolute;
            
        }
    }
  
    .content{
        h2{
            font-size: 14px;
        }
        p{
            font-size: 14px;
        }
        .box{
            background-color:#35434a;
            width: 62px;
            height: 17px;
            font-size: 10px;
            text-align: center;
            line-height: 17px;
        }
    }
    .no{
        p{
            font-size: 12px;
        }
    }
    .log{
        i{
            font-size: 6px;
        }
        .ib{
            font-size: 12px;
        }
        
        p{
            font-size: 13px;
        }
        span{
            font-size: 13px;
        }
        .btn1{
            width: 70px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            font-size: 10px;
            font-weight: 500;
        }
    }
}


// dashbord end 

.apexcharts-xaxis{
    .tspan{
        display: none;
    }
}
.apexcharts-toolbar{
    .apexcharts-zoomin-icon{
        display: none;
    }
    .apexcharts-zoomout-icon{
        display: none;
    }
    .apexcharts-zoom-icon{
        display: none;
    }
    .apexcharts-pan-icon{
        display: none;
    }
    .apexcharts-reset-icon{
        display: none;
    }
    .apexcharts-menu-icon{
        display: none;
    }
    .apexcharts-menu{
        display: none;
    }
}
.apexcharts-xaxistooltip{
    display: none;
}
.app{
    display: none;
}
.apexcharts-yaxis{
    display: none;
}
.apexcharts-xaxis-texts-g{
    display: none;
}

.chart{
    min-height: 200px;
}
.apexcharts-canvas{
    height: 0px;
}


#chart {
  max-width: 760px;
  margin: 35px auto;
  opacity: 0.9;
}

#chart {
    max-width: 650px;
  }
  
.apexcharts-legend-series{
    span{
        display: none;
    }
}
.apexcharts-gridlines-horizontal{
    line{
        display: none;
    }
}
.apexcharts-xaxis-tick{
    display: none;
}
.apexcharts-grid-borders{
    line{
        display: none;
    }
}
.apexchartsareachart-2{
    .apexcharts-svg {
        width: 180px;
        right: 0px;
        
    }
}
#chart-5{
    position: absolute;
    top: 18%;
    right: -15%;
}
.apexcharts-datalabels{
    display: none;
}
.apexcharts-series{
    .fill-opacity{
             display: none;
    }
    #SvgjsPath1247{
        display: none;
    }
}
#SvgjsG1269{
    transform:translate(0, 0)
}
#chartlong{
    margin: 0px!important;
}
.apexcharts-title-text{
    display: none;
}
#chart, #char{
    margin: 0px!important;
}
@media(max-width:690px){
    .menu{
        display: none;
    }
    .navbar{
        .logo{
            display: none;
        }
        .hud{
            display: none;
        }
        .name{
            display: none;
        }
    }
}


   

    



  